
*{
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}
:root{
    --bg_color: #202124:
}
body{
    background: #202124 ;
    width: 100%;
    height: 100vh;
}
.head{
    width: 100%;
    display: flex;
    justify-content: end;
}

.head nav img{
    width: 27px;
    height: 27px;
    border-radius: 50%;
}
.head nav p{
    color: #FFFFFF;
}
.head nav{
    display: flex;
    justify-self: end;
    gap: 15px;
    padding: 10px;
}
.icon {
    color: #aca8a8;
}
.search_hold{
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}
.search_hold h1{
    font-size: 70pt;
    color: #FFFFFF;
    font-weight: 600;
}
.search{
    border: 1px solid #FFFFFF;
    padding: 10px 15px;
    border-radius: 30px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input{
    width: 30em;
    height: 20px;
    outline: none;
    background: none;
    color: #FFFFFF;
    border: none;
}
.icon_hold{
    display: flex;
    justify-content: center;
    align-items: center;
}
.google_btn{
    width: 100%;
    height: 40px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.btn{
    background-color: #303030;
}